@charset="utf-8";

* {
  margin : 0;
  padding : 0;
}

#container {
  width : 80%;
  margin : 3em auto;
}

#container h1 {
  font-size : 2em;
  font-weight : bold;
  border-bottom : solid 1px;
}

#container h2 {
  font-size : 1.5em;
  font-weight : bold;
}

#container p {
  margin : 0.5em 0;
}

#container .message {
  margin : 2em 0;
  font-size : 1.3em;
  font-weight : bold;
  color       : red;
}

#container form {
  margin : 0.5em 0 0 0;
}

#container form input {
  height : 2em;
}

#container form.to_top {
  margin-top : 2em;
}

#container table {
  border : solid 1px;
  border-collapse : collapse;
  margin : 0.5em 0 2em 0;
}

#container th {
  background-color : #eee;
}

#container th,td {
  border : solid 1px;
  padding : 0.5em;
  line-height : 1em;
  vertical-align : middle;
}

#container .no {
  text-align : center;
}

#container table form {
  margin : 0;
}

#container .column {
  display : inline-block;
  width : 9em;
  text-align : right;
  font-weight : bold;
}

#container ul {
  list-style-type : none;
}

#container ul li {
  margin : 1em 0 0 0;
}
