<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/style.css}">
  <title>注文一覧：書籍販売システム</title>
</head>
<body>
  <section id="container">
    <h1>書籍販売システム ー 店員専用</h1>
    <h2>注文一覧</h2>
    <p>
      検索された注文は以下の通りです。
    </p>
    <table>
      <tr>
        <th>番号</th><th>注文日時</th><th>商品コード</th><th>商品名</th><th>数量</th><th>お名前</th><th>ご住所</th><th>電話番号</th><th>メールアドレス</th>
      </tr>
      <tr th:each="order : ${orderlist}">
        <td class="no" th:text="${order.no}"></td>
        <td th:text="${#temporals.format(order.datetime, 'yyyy/MM/dd HH:mm:ss')}"></td>
        <td th:text="${order.item.code}"></td>
        <td th:text="${order.item.name}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="|${order.sei} ${order.mei}|"></td>
        <td th:text="|${order.pref}${order.add}|"></td>
        <td th:text="${order.tel}"></td>
        <td th:text="${order.mail}"></td>
      </tr>
    </table>
    <form class="to_top" action="index.html">
      <input type="submit" value="メニューへ戻る">
    </form>
    <form action="orderSearch.html">
      <input type="submit" value="新たな注文検索へ">
    </form>
  </section>
</body>
</html>
